{% extends 'base.html' %}
{% load static %}
{% block title %}Anime{%endblock%}
{% block content %}
<div class="container">
    <p class="center">ANIME</p>
    <div class="row">
        {% for item in abooks %}
          <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img src="{{ item.img.url }}" class="card-img-top" alt="{{item.name}}">
                <div class="card-body">
                    <h5 class="static/img/card-title">{{item.name}}</h5>
                    <p class="card-text">{{item.desc}}</p>
                </div>
            </div>
          </div>
        {% endfor %}
    </div>
</div>
{% endblock %}